.cursor1 {
    display: inline-block;
    width: 5px;
    height: 0.8em;
    background-color: gray;
    animation: blink 0.75s step-end infinite;
    position: relative; /* Position relative to its parent */
    top: 0; /* Align with the text */
    left: 0; /* Adjust to position correctly */ 
    
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}

.aboutme-1{
    height: 40vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    
}
.abm-1{
    width: 85vw;
    height: 35vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.counter {
    font-size: 4.5rem;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: #ffffff; /* Tailwind gray-700 */
    background-color: rgba(212, 11, 11, 0.863);
    padding-right: 4px;
}

.count-num{
    font-size: 5vw;
    font-family: "Poppins", serif;
}
.count-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 20vh;
}

